
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>
    
    <script>

        function updateQuestiontable(){
            $.ajax({
                url: '/API/qa/',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#questionTable > tbody:last-child').empty()
                    data["qa"].forEach(q => {
                        console.log(q["Question"]+" "+q["curr_time"]+" "+q["video_id"]+" "+q["user"]+" "+q["text"])
                        $('#questionTable > tbody:last-child').
                            append('<tr> <td>'+ q["Question"]+'</td><td>' +q["video_id"] +'</td><td>' +q["curr_time"] + '</td><td>'+ q["user"]+ '</td><td>'+ q["text"]+ '</td><td>'+ "<button type='button' onclick='showanswers(this);' class='btn btn-default'>" + "Show answers" +"</button>" +'</td></tr>');
                        // TODO  10 - Fill the column with the number of views of each video
                    });
                }
            });
        }
        // Current product being edited
        var question_num = 0;
        function showanswers(ctl) {
            var _row = $(ctl).parents("tr");
            var cols = _row.children("td");
            question_num = _row.children("td")[0].innerHTML

            console.log(question_num)
            updateAnswertable(question_num)
            answershow()
        }
        function updateAnswertable(question_num){
            $.ajax({
                url: '/API/answer/'+question_num+'/',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#answerTable > tbody:last-child').empty()
                    data["answer"].forEach(a => {
                        console.log(a["Answer"]+" "+a["question_id"]+" "+a["a_user"]+" "+a["a_text"])
                        $('#answerTable > tbody:last-child').
                            append('<tr> <td>'+ a["Answer"]+'</td><td>' + a["question_id"]+'</td><td>' + a["a_user"]+ '</td><td>'+ a["a_text"]+ '</td></tr>');
                        // TODO  10 - Fill the column with the number of views of each video
                    });
                }
            });
        }
        function addNewQuestion(video_id, curr_time, user, text){
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData={"video_id" : video_id, "curr_time" : curr_time, "user" : user, "text" : text}
            $.ajax({
                url: '/API/qa/',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data){
                   //TODO 5 after creating the video update the table
                  console.log("response for question creation"+data)
                  console.log(data)
                  updateQuestiontable()
                }
            });
        }
        function addNewAnswer(question_id, a_user, a_text){
            // TODO 4 - create an object (requestData) that contains the url and descrition
            // look at the server to understand what data should be sent.
            let requestData={"question_id" : question_id, "a_user" : a_user, "a_text" : a_text}
            $.ajax({
                url: '/API/answer/',
                type: "POST",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(data){
                   //TODO 5 after creating the video update the table
                  console.log("response for Answer creation"+data)
                  console.log(data)
                  updateAnswertable(question_num)
                }
            });
        }
        $(document).ready(function(){
          updateQuestiontable()
          answerhide()
          $("#buttonUpdateQuestiontable").click(
            //TODO 1 - configure the $("#buttonUpdateVideotable") 
            // to update the table when clicked
            function(){
              updateQuestiontable()
            }
          )
          $("#buttonUpdateAnswertable").click(
            //TODO 1 - configure the $("#buttonUpdateVideotable") 
            // to update the table when clicked
            function(){
              updateAnswertable(question_num)
            }
          )
          
            //TODO 2 - update the table when the page is loaded
          
            $("#buttonAddQuestion").click(function(){
              newVideoID = $("#newVideoID").val()
              newCurrTime = $("#newCurrTime").val()
              newUser = $("#newUser").val()
              newText = $("#newText").val()
              addNewQuestion(newVideoID, newCurrTime, newUser, newText)
                //TODO 3 - get the values of #newVideoURL and newVideoDescription
                // and pass those values to the addNewVideo function       
             })
               // TODO 11 - update the table
            $("#buttonAddAnswer").click(function(){
              newQuestionID = question_num
              newAUser = $("#newAUser").val()
              newAText = $("#newAText").val()
              addNewAnswer(newQuestionID, newAUser, newAText)
                //TODO 3 - get the values of #newVideoURL and newVideoDescription
                // and pass those values to the addNewVideo function       
             })
        });


        function answershow() {
         document.getElementById("answers_div").style.display = "block";
        }
        function answerhide() {
         document.getElementById("answers_div").style.display = "none";
        }
        
    </script>

  </head>
  <body>
    <h3>List of Questions</h3>
    <table class="ui celled table selectable" id="questionTable" >
      <thead>
        <tr> 
          <th>ID</th> <th>Video_ID</th> <th>curr_time</th> <th>user</th>   <th>text</th> <th> </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button class="ui button" id="buttonUpdateQuestionTable" onclick='answershow()'>
      Update List
    </button>

    <h3>Add a new Question</h3>
    <div class="ui input">
      <input type="text" placeholder="Video ID" id="newVideoID">
    </div>
    <div class="ui input">
      <input type="text" placeholder="Current Time" id="newCurrTime">
    </div>
    <div class="ui input">
      <input type="text" placeholder="User" id="newUser">
    </div>
    <div class="ui input">
      <input type="text" placeholder="Text" id="newText">
    </div>
    <button class="ui button" id="buttonAddQuestion">
      Add new Question
    </button>

    <div id="answers_div">

      <h3>List of Answers</h3>
      <table class="ui celled table selectable" id="answerTable" >
        <thead>
          <tr>
            <th>ID</th> <th>question id</th> <th>user</th>   <th>text</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <button class="ui button" id="buttonUpdateAnswerTable">
        Update List
      </button>

    
      <h3>Add a new Answer</h3>
      <div class="ui input">
        <input type="text" placeholder="User" id="newAUser">
      </div>
      <div class="ui input">
        <input type="text" placeholder="Text" id="newAText">
      </div>
      <button class="ui button" id="buttonAddAnswer">
        Add new Answer
      </button>
      <br></br>
      <button onclick='answerhide()'>Hide answers</button>
    </div>
  </body>

</html>